img[src*="thumbnail"] {
    width: 200px;
    height: 158px;
}

.top-stories {
    font-size: 24px;
    padding-top: 10px;
    background-color: white;
}

hr.divider {
    margin-right: 30%;
    margin-top: -12px;
    border: 1px solid white;

}

hr.article-divider {
    margin-right: 30%;
    border: 1px solid white;
}

.row-article {
    width: 68%;
    height: 150px;
    padding: 15px;
    margin-right: 30%;
    margin-top: -8px;
    border-color: darkgreen;
    border-radius: 25px;
    border-style: groove;
    background-color: lightgrey;
}

.article-snippet {
    margin-left: 220px;
    margin-top: -168px;
    background-color: lightgrey;
}

img[src*="advertisement"] {
    width: 100%;
}

aside div {
    text-align: center;
    float: right;
    width: 24%;
    margin-top: -950px;
    margin-right: 60px;
    background-color: white;
}

aside div p {
    margin: 0;
    color: darkgray;
    padding-bottom: 4px;
    font-size: 12px;
}

div a {
    text-decoration: none;
}

div a[href*="article"]:hover {
    background-color: transparent;
    color: forestgreen;
}

aside a:hover {
    background-color: transparent;
    color: transparent;
}
