body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*Small device
@media screen and (max-width: 650px) {
    main {
        
    }
}*/


/*Medium device*/
@media screen and (min-width: 900px) and (max-width: 1200px) {
    
    
}

/*Large device*/
@media screen and (min-width: 1201px) {
    header, main, footer {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    main {
        
    }
}