input[name=name] {
    width: 20%;

}

input[type=text, textarea]:focus {
    border: 2px solid;
}

fieldset {
    border-color: forestgreen;
    border-radius: 25px;
    border-style: groove;
    background-color: lightgrey;
    margin-top: -15px;
}

label {
    margin-left: 5%;
}
fieldset div {
    padding: 5px;
}

.submit-reset-buttons {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 250px;
}
button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type=submit], input[type=reset] {
    padding: 5px 5px;
    cursor: pointer;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

textarea {
    vertical-align: top;
}

span {
    color: red;
}