#welcome-container {
    /*background-image: linear-gradient(to right, #228b57, #8b228b);*/
    background-color: whitesmoke;
    height: 22em;
    margin-top: -10px;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
    border-radius: 2%;
    /*align-items: center;*/
    /*display: flex;
    flex-direction: column;*/
}

h1.welcome-content{
    font-size: 25px;
    /*text-align: center;*/ /*Why won't it center anymore aaaahhh*/
    margin-bottom: 25px;
    padding-top: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    
}

h2.welcome-content {
    font-size: 17px;
    /*text-align: center;*/
    margin-top: -20px;
    font-weight: normal;
    
    position: ;
    
}

img[src*="main"] {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-top: 20px;
}

/* *** */

#articles-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
    margin-right: 10%;
    margin-left: 10%;
}

img[src*="thumbnail"] {
    width: 200px;
    height: 158px;
}

.row-article {
    height: 160px;
    padding: 15px;
    border-color: darkgreen;
    border-radius: 25px;
    border-style:groove;
    overflow: auto;
    background-color: lightgrey;
}

.article-snippet {
    margin-left: 210px;
    margin-top: -182px;
    background-color: lightgrey;
    
}

/* *** */
#contact-us-container {
    margin-top: 50px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

h1.contact-us-content {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;

}

h2.contact-us-content {
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

/* *** */

input[name=name] {
    width: 20%;

}

input[type=text, textarea]:focus {
    border: 2px solid;
}

fieldset {
    border-color: forestgreen;
    border-radius: 25px;
    border-style: dashed;
    background-color: whitesmoke;
    
}

form {
    margin-top: -30px;
}

label {
    margin-left: 5%;
}
fieldset div {
    padding: 5px;
}

.submit-reset-buttons {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 250px;
}

input[type=submit], input[type=reset] {
    padding: 5px 5px;
    cursor: pointer;
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    float: right;
}

textarea {
    vertical-align: top;
}

span {
    color: red;
}

